<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite
        SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="OpenCart PW test suite" thread-count="3" parallel="tests" verbose="4">

    <groups>
        <run>
             <exclude name="Practice_Snip"/>
        </run>
    </groups>

<!--    <test name="Opencart Homepage">-->
<!--        <parameter name="browser" value="chrome" />-->
<!--        <classes>-->
<!--            <class name="com.qa.test.openkart.HomePageTest">-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->


<!--    <test name="Opencart LoginPage">-->
<!--        <parameter name="browser" value="edge" />-->
<!--          <classes>-->
<!--            <class name="com.qa.test.openkart.LoginPageTest">-->
<!--            </class>-->
<!--          </classes>-->
<!--    </test>-->


<!--    <test name="Opencart RegPage">-->
<!--        <parameter name="browser" value="chrome" />-->
<!--         <classes>-->
<!--            <class name="com.qa.test.openkart.RegPageTest">-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<test name="Take ScreenShots">
    <parameter name="browser" value="chrome" />
    <parameter name="customURL" value="https://testautomationpractice.blogspot.com/"/>
    <classes>
        <class name="com.qa.test.practice.ScreenShot">
        </class>
    </classes>
</test>

<!--    <test name="Download Files">-->
<!--        <parameter name="browser" value="chrome" />-->
<!--        <parameter name="customURL" value="https://chromedriver.storage.googleapis.com/index.html?path=102.0.5005.27/" />-->
<!--        <classes>-->
<!--            <class name="com.qa.test.practice.DownloadFiles">-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->


</suite>